<div class="space-y-4">
  <h2 class="text-2xl font-medium">{{title}}</h2>
  <ul class="grid lg:grid-cols-2 md:grid-cols-1 {{extraGridClass}} gap-6">
    {{#each items}}
      <li class="flex items-center space-x-1">
        <img src="{{this.icon}}" alt="{{this.name}} icon" class="{{#if this.size}} w-{{this.size}} h-{{this.size}} {{else}} w-8 h-8 {{/if}}">
        <span class="text-lg">{{this.name}}</span>
      </li>
    {{/each}}
  </ul>
</div>